<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico">
    <script src="https://kit.fontawesome.com/db25f61285.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="about__body">
    <header >
        <nav class="nav__background">
            <ul class="line">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav><ul>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/la/apple-music/"target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://music.amazon.es/"target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </nav>
    </header>
    <section class="about__section">
        <article>
            <h2> ABOUT <br> EMILIA //</h2>
        <H3>"Seattle-based pop star makes her <BR>indie debut with a hauntingly beautiful album"</H3>
        <h5>-John Tirckle, Music Today Post</h5>
    </article>


        <article id="about__articulo">
            <h3>"Emilia Cole is one of the <BR>scene's breakout stars"</h3>
        <h5>-John Tirckle, Music Today Post</h5>
    </article>
        
    </section>
    
</body>
</html>