<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico">
    <script src = "https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home__body">
   <header>
    <nav class="home__nav__vertical home__nav__izq" >
        <ul>
            <li><a href="/"> HOME </a></li>
            <li><a href="/about"> about </a></li>
            <li><a href="/music"> MUSIC </a></li>
            <li><a href="/contact"> CONTACT </a></li>
             </ul>
    </nav>
    <nav class="home__nav__izq">
    <ul>
        <li> <a href = "https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a> </li>
        <li><a href = "https://www.facebook.com" target="_blank"></a><i class="fa-brands fa-facebook"></i></li>
        <li><a href = "https://open.spotify.com/intl-es" target="_blank"></a><i class="fa-brands fa-spotify"></i></li>
        <li><a href = "https://www.apple.com/" target="_blank"></a><i class="fa-brands fa-apple"></i></li>
        <li><a href = "https://www.amazon.com/" target="_blank"></a><i class="fa-brands fa-amazon"></i></li>
        <li><a href = "https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
</nav>
   </header>
   <section class="home__margin">
    <h3>EMILIA <br> COLE//</h3>
   </section>
   <section>
    <h1>TWIST IN MY REALITY</h1>
</body>
</html>