<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico">
    <script src = "https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
   <header>
    <nav>
        <ul type="none">
            <li class="enlace"><a href="/"> HOME </a></li>
            <li class="enlace"><a href="/about"> ABOUT </a></li>
            <li class="enlace"><a href="/music"> MUSIC </a></li>
            <li class="enlace"><a href="/contact"> CONTACT </a></li>
             </ul>
    </nav>
    <ul id="redes">
        <li> <a href = "https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a> </li>
        <li><a href = "https://www.facebook.com" target="_blank"></a><i class="fa-brands fa-facebook"></i></li>
        <li><a href = "https://open.spotify.com/intl-es" target="_blank"></a><i class="fa-brands fa-spotify"></i></li>
        <li><a href = "https://www.apple.com/" target="_blank"></a><i class="fa-brands fa-apple"></i></li>
        <li><a href = "https://www.amazon.com/" target="_blank"></a><i class="fa-brands fa-amazon"></i></li>
        <li><a href = "https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
   </header>
   <section>
    <h3 id="subtitulo-home">EMILIA <br> COLE//</h3>
   </section>
   <section>
    <h1 id="titulo-home">TWIST IN MY REALITY</h1>

   
  
</body>
</html>