<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emilia Cole</title>
        <link rel="shortcut icon" href="/img/icon/favicon.ico">
        <script src = "https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body  >
        <header id="top" class="music__header">
            
        <nav class="nav__background" >
            <ul class="line" id="music__nav">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT </a></li>
                <li><a href="/music">MUSIC </a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
       <nav>
        <ul >
            <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/la/apple-music/"target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://music.amazon.es/"target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        </nav>
    </header>
    <section class="music__section">
        <h1>MUSIC //</h1>
        <h3>Direct link</h3>
        <ul>
            <li><a href="#top">Album</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>
            <article class="music__list">
                <h2>ALBUM <BR> WIST IN MY REALITY</h2>
                    <img src="img/emilia-play-list.png" alt="imagel del album">
                    <ol>
                        <li>▶ Organic Love | 02:40 </li>
                        <li>▶ Twist In My Reality | 02:10</li>
                        <li>▶ Street Light | 03:28</li>
                        <li>▶ Love Don’t Live Here Anymore (Cover) | 03:49</li>
                    </ol>
                    <a href="">Go top</a>
            </article>
            
            <article id="video1"></article>
            <h2 >VIDEO <BR> ORGANIC LOVE</h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <h5>Directed by VINCE MALC & EMILIA COLE<BR> Edited and Filmed by NICOLAS TROY <BR>Produced by NIKI HEART,<BR>Wix Films LTD</h2>
                <a href="">Go top</a>
            <article id="video2"></article>
            <h2 >VIDEO <BR> STREET LIGHT</h2>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <h5>Directed by VINCE MALC & EMILIA COLE<BR> Edited and Filmed by NICOLAS TROY <BR>Produced by NIKI HEART,<BR>Wix Films LTD</h2>
                <h5> <a href="">Go top</a> </h5>
        </section>
        
    </body>
    

</html>