.about__body{
  background-image: url(/img/emilia-about.jpg);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: right;
}


.about__section h2{
  font-size: 60px;

}

.about__section h3{
  font-size: 25px;
  font-weight: lighter;
  color:aqua;
  margin-left: 30px;
  }
  
.about__section h5{
  font-size: 15px;
  font-weight: lighter;
  color:aqua;
  margin-left: 30px;
}

#about__articulo{
  margin-top: 70px;
}