body{
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: url(/img/emilia-home.jpg)
    no-repeat right ;
   background-size: 75%
}

#redes li{
    display: inline;
    list-style: none;
}

ul .enlace a{
    text-decoration: none;
    line-height: 30px;
    text-decoration: none;
    
    
}

#subtitulo-home{
    position: relative;
    top: 50px;
    margin-left: 30px;
    font-weight: lighter;
    font-size: 25px;
    letter-spacing: 4px;
    
}

#titulo-home{
    
    position: relative;
    top: 200px ;
    font-size: 45px;
    background-color: rgba(255,255,255,0.4);
    letter-spacing: 8px;
}
