.home__body{
  background-image: url(/img/emilia-home.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
}

.home__nav__vertical ul li{
    display: block;
    margin-bottom: 15px;
    
}

.home__margin{
  margin: 100px 35px;
}

.home__body h1{
  background-color: rgba(255, 255,255, 0.5);
  font-size: 50px;
}

.home__nav__izq{
  text-align: left;
}