.music__header{
    background-image: url(/img/emilia-music-top.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    }

.music__section h1{
    font-size: 50px;
}

.music__section h3{
    font-size: 17px;
}

.music__section h2{
    margin-top: 70px;
}

.music__list ol li{
    text-transform: capitalize;
    margin:10px;
    list-style-type: decimal-leading-zero;
    font-weight: bold;
}

.music__section h5{
    font-weight: lighter;
    font-size: 12px;
}